numpy>=1.22
scipy>=1.10
pymoo>=0.6.0
# Optional for FEM solvers (recommended):
scikit-fem>=12.0
meshio>=5.0
# Optional for STEP export:
# cadquery>=2.3
